baseURL = "https://blog.greenslime1024.me/"
languageCode = "en-us"
title = "greenslime1024's blog"
theme = "DoIt"

[menu]
    [[menu.main]]
        identifier = "posts"
        # you can add extra information before the name (HTML format is supported), such as icons
        pre = ""
        # you can add extra information after the name (HTML format is supported), such as icons
        post = ""
        name = "Posts"
        url = "/posts/"
        # title will be shown when you hover on this menu link
        title = ""
        weight = 1
    [[menu.main]]
        identifier = "tags"
        pre = ""
        post = ""
        name = "Tags"
        url = "/tags/"
        title = ""
        weight = 2
    [[menu.main]]
        identifier = "categories"
        pre = ""
        post = ""
        name = "Categories"
        url = "/categories/"
        title = ""
        weight = 3

[outputs]
    home = ["HTML", "RSS", "JSON"]